<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <table class="table table-bordered table-hover">
    <tr>
      <th># of Products</th>
      <th># of Categories</th>
    </tr>
    <tr>
      <td>
        <%= @num_products =%>
      </td>
      <td>
        <%= @num_categories =%>
      </td>
    </tr>
  </table>
    
</section>
